@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

#navbar {
  margin-bottom: 75px;
}

#navbar .nav-logo {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
  color: #fafafa;
  margin-right: 50px;
}

#navbar .nav-logo:hover {
  text-decoration: none;
}

#banner {
  min-height: 400px;
  background-image: url("./imgs/banner.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 75px;
}

.services .service:hover {
  background-color: #dad2c2;
  border-radius: 10px;
  transition: all 300ms;
}

.product {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 50px 0;
  border-radius: 12px;
}

.product .product-text {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px;
  height: 30px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
}

.product .product-text .price {
  float: right;
}

.product .product-text .btn {
  float: right;
}

.product .product-text .product-hidden {
  opacity: 0;
}

.product:hover .product-text {
  height: 150px;
}

.product:hover .product-text .product-hidden {
  opacity: 1;
}

#footer {
  background-color: #000;
  color: #fafafa;
  padding: 50px 10px;
}

#footer .footer-line {
  height: 1px;
  background-color: #fafafa;
  margin: 50px;
}

#footer .footer-logo {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
  color: #fafafa;
}

#footer .footer-logo:hover {
  text-decoration: none;
}

#footer .footer-link {
  color: #fafafa;
}

#footer .footer-icon .fab {
  color: #fafafa;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 15px;
  width: 48px;
  height: 48px;
}

#footer .footer-icon:hover .fab {
  background-color: #fff;
  color: #000;
  transition: all 500ms;
}
