.sidebar(style="border-right: 2px solid #DDD")
  a.m-3(href="/admin/dashboard", style="font-size: 32px") DashBoard
  nav.nav.flex-column
    a.nav-link.mb-2(href="/admin/dashboard/orders")
      i.fas.fa-shopping-cart.m-3
      | ORDERS
    a.nav-link.mb-2(href="/admin/dashboard/messages")
      i.far.fa-comment-alt.m-3
      | MESSAGES
    a.nav-link.mb-2(href="/admin/dashboard/products")
      i.fas.fa-globe.m-3
      | PRODUCTS
    a.nav-link.mb-2(href="/admin/dashboard/logout")
      i.fas.fa-sign-out-alt